@import url('https://fonts.googleapis.com/css?family=Dosis:400,300,500,600,700,200,800');

// Fonts
$line-height-base: 1.25 !default; // 20/16
$font-title: 'Dosis', sans-serif !important;

// Colors
$brand-color: #FBA617 !default;
$brand-color-contrast: #FFF !default;
$brand-primary: $brand-color;
$link-color: $brand-color !default;
$body-bg: lighten($brand-color, 42%);
$input-color: lighten(#000000, 30%);
$input-border: lighten(#000000, 70%);

// Paddings
$padding-xs-vertical: 0;
$padding-xs-horizontal: 4px;

// Border Radius
$border-radius-base: 0 !default;
$border-radius-large: 0 !default;
$border-radius-small: 0 !default;

// Basics of a navbar
$navbar-height: 45px !default;
$navbar-default-color: #444 !default;
$navbar-default-bg: #fff !default;

// Navbar links
$navbar-default-link-color: #444 !default;
$navbar-default-link-hover-color: $brand-color !default;
$navbar-default-link-hover-bg: transparent !default;
$navbar-default-link-active-color: #333 !default;
$navbar-default-link-active-bg: #fff !default;
$navbar-default-link-disabled-color: #ccc !default;
$navbar-default-link-disabled-bg: transparent !default;

// Navbar brand label
$navbar-default-brand-color: $navbar-default-link-color !default;
$navbar-default-brand-hover-color: $navbar-default-link-hover-color !default;
$navbar-default-brand-hover-bg: transparent !default;

// Navbar toggle
$navbar-default-toggle-hover-bg: darken($navbar-default-bg, 10%) !default;
$navbar-default-toggle-icon-bar-bg: #fff !default;
$navbar-default-toggle-border-color: darken($navbar-default-bg, 10%) !default;
