@import "partials/body";
@import "partials/main";
@import "partials/header";
@import "partials/pages";
@import "partials/pagination";
@import "partials/panel";
@import "partials/panel-tabs";
@import "partials/table";
@import "partials/form";
@import "partials/footer";