.navbar {
    border-bottom: 1px solid darken($white, 20%);
    font-family: $font-family-title;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    padding: 0;

    .navbar-nav {
        background: $white;
        margin: 0 20px 0 0;

        .nav-item {
            margin: 0;
        }

        .nav-link {
            border-bottom: 3px solid $white;
            padding: 13px 10px 10px 10px;
            margin: 0;
        }

        & > li > a:hover,
        & > li > a:focus {
            border-color: $gray-light;
        }

        & > .active > a,
        & > .active > a:hover,
        & > .active > a:focus {
            border-color: $brand-color;
        }
    }
}

.navbar-brand {
    float: left;
    padding-left: .45rem;
    padding-top: .42rem;
    padding-bottom: .25rem;
    margin-right: 1rem;
    font-size: $font-size-lg;

    @include hover-focus {
        text-decoration: none;
    }

    > img {
        display: block;
    }
}