.padding-h-10 { padding-right: 10px !important; padding-left: 10px !important; }
.padding-h-20 { padding-right: 20px !important; padding-left: 20px !important; }
.padding-h-30 { padding-right: 30px !important; padding-left: 30px !important; }
.padding-h-40 { padding-right: 40px !important; padding-left: 40px !important; }
.padding-h-50 { padding-right: 50px !important; padding-left: 50px !important; }