@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css")
@import url("https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css")

@import "../../../bower_components/AdminLTE/bootstrap/css/bootstrap.min"
@import "../../../bower_components/AdminLTE/plugins/jvectormap/jquery-jvectormap-1.2.2"
@import "../../../bower_components/AdminLTE/plugins/iCheck/square/blue"
@import "../../../bower_components/AdminLTE/dist/css/AdminLTE.min"
@import "../../../bower_components/AdminLTE/dist/css/skins/_all-skins.min"

$white: #f0f0f0
$gray: #969595

.text-center
  text-align: center

hr
  border: 0
  height: 1px
  margin: 20px 0
  background-image: -webkit-linear-gradient(left, $white, $gray, $white)
  background-image: -moz-linear-gradient(left, $white, $gray, $white)
  background-image: -ms-linear-gradient(left, $white, $gray, $white)
  background-image: -o-linear-gradient(left, $white, $gray, $white)