.form-control {
    padding: ($padding-base-vertical * 1.5) ($padding-base-horizontal * 1.1);
    line-height: $line-height-base * 1.5;
    font-size: $font-size-base * 1.1;
    height: $input-height-base * 1.2;
    border-width: 2px;
    font-weight: bold;
}

.form-control[type=file] {
    border: none;
    padding: 0;
    margin: 0;
}