@media screen and (max-width: 480px) {
    #grid[data-columns]::before {
        content: '1 .column.size-1of1';
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    #grid[data-columns]::before {
        content: '2 .column.size-1of2';
    }
}

@media screen and (min-width: 769px) {
    #grid[data-columns]::before {
        content: '3 .column.size-1of3';
    }
}

.column {
    float: left;

    .image {
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        border-top: 3px solid $brand-primary;
        background: darken(#ffffff, 1%);
        margin: 10px 0 20px 0;
        border-radius: 3px;
        padding: 5px 10px;

        .tags {
            padding: 5px 0;
        }

        .actions {
            text-align: center;
            padding-top: 5px;
        }
    }
}

.size-1of1 {
    width: 100%;
}

.size-1of2 {
    width: 50%;
}

.size-1of3 {
    width: 33.333%;
}