// variables and mixins
@import "lbd/variables";
@import "lbd/mixins";

//plugins css
@import "lbd/plugins/bootstrap";
@import "lbd/plugins/animate";
@import "lbd/plugins/sweetalert2";
@import "lbd/plugins/jquery.jvectormap";
@import "lbd/plugins/bootstrap-table";
@import "lbd/plugins/datatables.net";
@import "lbd/plugins/fullcalendar";
@import "lbd/plugins/chartist";
@import "lbd/plugins/perfect-scrollbar";
@import "lbd/plugins/bootstrap-select";

// Core CSS
@import "lbd/typography";
@import "lbd/sidebar-and-main-panel";
@import "lbd/buttons";
@import "lbd/misc";
@import "lbd/inputs";
@import "lbd/progress-bars";
@import "lbd/sliders";
@import "lbd/forms";
@import "lbd/alerts";
@import "lbd/tables";
@import "lbd/tags";
@import "lbd/tooltips-and-popovers";
@import "lbd/checkbox-radio-switch";
@import "lbd/navbars";
@import "lbd/footers";

// Fancy Stuff
@import "lbd/social-buttons";
@import "lbd/dropdown";
@import "lbd/cards";
@import "lbd/collapse";
@import "lbd/carousel";
@import "lbd/plugins/datetime-picker";

// SCSS for Pages
@import "lbd/pages";

// Responsive adjustments
@import "lbd/responsive";
@import "lbd/tabs-navs-pagination";
@import "lbd/helpers";
