header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    padding: 7px 0;

    h1, h2, h3, h4, h5, h6 {
        text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.3);
        text-transform: uppercase;
        font-family: $font-title;
        padding: 10px 0 0 0;
        font-weight: 500;
        font-size: 3rem;
        margin: 0;
    }
}