header {
  border-bottom: 1px solid #b3c8da;
  background-color: #ffffff;
  padding-bottom: 10px;
  margin-bottom: 40px;
  padding-top: 70px;

  .title {
    font-family: $font-titles;
    padding: 0;
    margin: 0;
  }
}
