//colors
$color_tapa_approx: #777;
$color_alto_approx: #ddd;
$color_fuscous_gray_approx: #555;
$white: #fff;
$color_wild_sand_approx: #f5f5f5;
$color_astral_approx: #3071a9;
$color_boston_blue_approx: #428bca;
$color_picton_blue_approx: #4a9fe9;
$color_killarney_approx: #3c763d;
$color_beryl_green_approx: #d6e9c6;
$color_willow_brook_approx: #dff0d8;
$color_calypso_approx: #31708f;
$color_charlotte_approx: #bce8f1;
$color_link_water_approx: #d9edf7;
$color_pesto_approx: #8a6d3b;
$color_champagne_approx: #faebcc;
$color_solitaire_approx: #fcf8e3;
$color_apple_blossom_approx: #a94442;
$color_oyster_pink_approx: #ebccd1;
$color_vanilla_ice_approx: #f2dede;

%extend_1 {
  color: $color_tapa_approx;
  background-color: $color_alto_approx;
  border-color: transparent;
}

%extend_2 {
  color: $color_fuscous_gray_approx;
  background-color: $white;
  border-color: $color_alto_approx;
  border-bottom-color: transparent;
}

%extend_3 {
  color: $white;
  background-color: $color_astral_approx;
  border-color: transparent;
}

%extend_4 {
  color: $color_boston_blue_approx;
  background-color: $white;
  border-color: $color_boston_blue_approx;
  border-bottom-color: transparent;
}

%extend_5 {
  color: $color_killarney_approx;
  background-color: $color_beryl_green_approx;
  border-color: transparent;
}

%extend_6 {
  color: $color_killarney_approx;
  background-color: $white;
  border-color: $color_beryl_green_approx;
  border-bottom-color: transparent;
}

%extend_7 {
  color: $color_calypso_approx;
  background-color: $color_charlotte_approx;
  border-color: transparent;
}

%extend_8 {
  color: $color_calypso_approx;
  background-color: $white;
  border-color: $color_charlotte_approx;
  border-bottom-color: transparent;
}

%extend_9 {
  color: $color_pesto_approx;
  background-color: $color_champagne_approx;
  border-color: transparent;
}

%extend_10 {
  color: $color_pesto_approx;
  background-color: $white;
  border-color: $color_champagne_approx;
  border-bottom-color: transparent;
}

%extend_11 {
  color: $color_apple_blossom_approx;
  background-color: $color_oyster_pink_approx;
  border-color: transparent;
}

%extend_12 {
  color: $color_apple_blossom_approx;
  background-color: $white;
  border-color: $color_oyster_pink_approx;
  border-bottom-color: transparent;
}

.with-nav-tabs {
  &.panel-default .nav-tabs > {
    li {
      > a {
        color: $color_tapa_approx;
        &:hover {
          color: $color_tapa_approx;
          @extend %extend_1;
        }
        &:focus {
          color: $color_tapa_approx;
          @extend %extend_1;
        }
      }
      &.active > a {
        @extend %extend_2;
        &:hover {
          @extend %extend_2;
        }
        &:focus {
          @extend %extend_2;
        }
      }
      &.dropdown .dropdown-menu {
        background-color: $color_wild_sand_approx;
        border-color: $color_alto_approx;
        > {
          li > a {
            color: $color_tapa_approx;
            &:hover {
              background-color: $color_alto_approx;
            }
            &:focus {
              background-color: $color_alto_approx;
            }
          }
          .active > a {
            color: $white;
            background-color: $color_fuscous_gray_approx;
            &:hover {
              color: $white;
              background-color: $color_fuscous_gray_approx;
            }
            &:focus {
              color: $white;
              background-color: $color_fuscous_gray_approx;
            }
          }
        }
      }
    }
    .open > a {
      @extend %extend_1;
      &:hover {
        @extend %extend_1;
      }
      &:focus {
        @extend %extend_1;
      }
    }
  }
  &.panel-primary .nav-tabs > {
    li {
      > a {
        color: $white;
        &:hover {
          color: $white;
          @extend %extend_3;
        }
        &:focus {
          color: $white;
          @extend %extend_3;
        }
      }
      &.active > a {
        @extend %extend_4;
        &:hover {
          @extend %extend_4;
        }
        &:focus {
          @extend %extend_4;
        }
      }
      &.dropdown .dropdown-menu {
        background-color: $color_boston_blue_approx;
        border-color: $color_astral_approx;
        > {
          li > a {
            color: $white;
            &:hover {
              background-color: $color_astral_approx;
            }
            &:focus {
              background-color: $color_astral_approx;
            }
          }
          .active > a {
            background-color: $color_picton_blue_approx;
            &:hover {
              background-color: $color_picton_blue_approx;
            }
            &:focus {
              background-color: $color_picton_blue_approx;
            }
          }
        }
      }
    }
    .open > a {
      @extend %extend_3;
      &:hover {
        @extend %extend_3;
      }
      &:focus {
        @extend %extend_3;
      }
    }
  }
  &.panel-success .nav-tabs > {
    li {
      > a {
        color: $color_killarney_approx;
        &:hover {
          color: $color_killarney_approx;
          @extend %extend_5;
        }
        &:focus {
          color: $color_killarney_approx;
          @extend %extend_5;
        }
      }
      &.active > a {
        @extend %extend_6;
        &:hover {
          @extend %extend_6;
        }
        &:focus {
          @extend %extend_6;
        }
      }
      &.dropdown .dropdown-menu {
        background-color: $color_willow_brook_approx;
        border-color: $color_beryl_green_approx;
        > {
          li > a {
            color: $color_killarney_approx;
            &:hover {
              background-color: $color_beryl_green_approx;
            }
            &:focus {
              background-color: $color_beryl_green_approx;
            }
          }
          .active > a {
            color: $white;
            background-color: $color_killarney_approx;
            &:hover {
              color: $white;
              background-color: $color_killarney_approx;
            }
            &:focus {
              color: $white;
              background-color: $color_killarney_approx;
            }
          }
        }
      }
    }
    .open > a {
      @extend %extend_5;
      &:hover {
        @extend %extend_5;
      }
      &:focus {
        @extend %extend_5;
      }
    }
  }
  &.panel-info .nav-tabs > {
    li {
      > a {
        color: $color_calypso_approx;
        &:hover {
          color: $color_calypso_approx;
          @extend %extend_7;
        }
        &:focus {
          color: $color_calypso_approx;
          @extend %extend_7;
        }
      }
      &.active > a {
        @extend %extend_8;
        &:hover {
          @extend %extend_8;
        }
        &:focus {
          @extend %extend_8;
        }
      }
      &.dropdown .dropdown-menu {
        background-color: $color_link_water_approx;
        border-color: $color_charlotte_approx;
        > {
          li > a {
            color: $color_calypso_approx;
            &:hover {
              background-color: $color_charlotte_approx;
            }
            &:focus {
              background-color: $color_charlotte_approx;
            }
          }
          .active > a {
            color: $white;
            background-color: $color_calypso_approx;
            &:hover {
              color: $white;
              background-color: $color_calypso_approx;
            }
            &:focus {
              color: $white;
              background-color: $color_calypso_approx;
            }
          }
        }
      }
    }
    .open > a {
      @extend %extend_7;
      &:hover {
        @extend %extend_7;
      }
      &:focus {
        @extend %extend_7;
      }
    }
  }
  &.panel-warning .nav-tabs > {
    li {
      > a {
        color: $color_pesto_approx;
        &:hover {
          color: $color_pesto_approx;
          @extend %extend_9;
        }
        &:focus {
          color: $color_pesto_approx;
          @extend %extend_9;
        }
      }
      &.active > a {
        @extend %extend_10;
        &:hover {
          @extend %extend_10;
        }
        &:focus {
          @extend %extend_10;
        }
      }
      &.dropdown .dropdown-menu {
        background-color: $color_solitaire_approx;
        border-color: $color_champagne_approx;
        > {
          li > a {
            color: $color_pesto_approx;
            &:hover {
              background-color: $color_champagne_approx;
            }
            &:focus {
              background-color: $color_champagne_approx;
            }
          }
          .active > a {
            color: $white;
            background-color: $color_pesto_approx;
            &:hover {
              color: $white;
              background-color: $color_pesto_approx;
            }
            &:focus {
              color: $white;
              background-color: $color_pesto_approx;
            }
          }
        }
      }
    }
    .open > a {
      @extend %extend_9;
      &:hover {
        @extend %extend_9;
      }
      &:focus {
        @extend %extend_9;
      }
    }
  }
  &.panel-danger .nav-tabs > {
    li {
      > a {
        color: $color_apple_blossom_approx;
        &:hover {
          color: $color_apple_blossom_approx;
          @extend %extend_11;
        }
        &:focus {
          color: $color_apple_blossom_approx;
          @extend %extend_11;
        }
      }
      &.active > a {
        @extend %extend_12;
        &:hover {
          @extend %extend_12;
        }
        &:focus {
          @extend %extend_12;
        }
      }
      &.dropdown .dropdown-menu {
        background-color: $color_vanilla_ice_approx;
        border-color: $color_oyster_pink_approx;
        > {
          li > a {
            color: $color_apple_blossom_approx;
            &:hover {
              background-color: $color_oyster_pink_approx;
            }
            &:focus {
              background-color: $color_oyster_pink_approx;
            }
          }
          .active > a {
            color: $white;
            background-color: $color_apple_blossom_approx;
            &:hover {
              color: $white;
              background-color: $color_apple_blossom_approx;
            }
            &:focus {
              color: $white;
              background-color: $color_apple_blossom_approx;
            }
          }
        }
      }
    }
    .open > a {
      @extend %extend_11;
      &:hover {
        @extend %extend_11;
      }
      &:focus {
        @extend %extend_11;
      }
    }
  }
}

.panel.with-nav-tabs {
  .panel-heading {
    padding: 5px 5px 0 5px;
  }
  .nav-tabs {
    border-bottom: none;
  }
  .nav-justified {
    margin-bottom: -1px;
  }
}