.panel {
  .panel-heading {
    .panel-title {
      &.pull-left {
        padding-top: 8.5px;
      }
    }
  }

  &-default {
    border: 1px solid #ccc;
    border-bottom: 2px solid #bbb;
    border-top: 1px solid #ddd;
  }
}