table,
.table {
  a:not(.btn) {
    text-decoration: underline;
  }

  .dropdown-menu a {
    text-decoration: none;
  }

  .success,
  .warning,
  .danger,
  .info {
    color: #fff;

    > th > a,
    > td > a,
    > a {
      color: #fff;
    }
  }

  > thead > tr > th,
  > thead > tr > td {
    border-bottom: 2px solid darken($table-border-color, 5%);
  }

  > tbody > tr > th,
  > tfoot > tr > th,
  > tbody > tr > td,
  > tfoot > tr > td {
    border-bottom: 1px solid $table-border-color;
  }

  &-bordered > thead > tr > th,
  &-bordered > tbody > tr > th,
  &-bordered > tfoot > tr > th,
  &-bordered > thead > tr > td,
  &-bordered > tbody > tr > td,
  &-bordered > tfoot > tr > td {
    border: 1px solid $table-border-color;
  }

  .table-actions {
    white-space: nowrap;

    form {
      display: inline-block;
    }
  }
}